*{
    text-align:center;
    box-sizing:border-box;
}
.btn-link:hover{
    text-decoration:none;
    
    color:#999999;
}
.btn-link{
    color:orange;   
}


hr{
    width:20%;
}
.col-sm-12{
    padding-right: 0px;
    padding-left: 0px;   
}


/* old slider in js */

/* .faqAnswer{

  border:1px solid #d2d2d2;
  
} 


.faqAnswer a
{
    
    color:orange;
    padding:10px;
    display:block;
    background-color: rgba(228, 228, 228, 0.4);
     
}
.faqAnswer a:hover{

    color:#999999;
}


.faqAnswer p{

    max-height:0;
   
    margin:0;
    padding:0;
    overflow:hidden;
    transition:all 0.4s ease-out;
}

.faqAnswer .visible{
    padding:20px;
    max-height:600px;
    
    
    
   
}


 */